.suggestions-dropdown {
    color: black;
}

.suggestions-dropdown li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-dropdown li:hover {
    background-color: #f0f0f0;
}

.glassCard {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
